.Home{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 18rem;
    margin-bottom: 2rem;
    gap: 3rem;
    align-items: center;
    background-color: antiquewhite ;
    /* justify-content: center; */
}
.Home-Container{
    display: flex;
    gap: 1rem;

}
.Home-input{
    gap: 5rem;
}