*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavBar {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 4rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.navbar-container {
    width: 80%;
    margin: auto;
}