.grid-box
{
    height: 1rem;;
    width: 1rem;
    padding: 1rem;
}

.MyTable
{
    border-collapse: collapse;
   border: 1px solid grey;
   /* border-radius: 1rem; */
   text-align: center;
   align-items: center;
}

.seating
{
    margin: 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* align-items: center;/ */
}

.details {
    display: flex;
    flex-direction: column;

}