.Form{
    display: flex;
    flex-direction: column;
    font-size: large;
    width: 25%;

    /* border:  dotted bisque; */
    border-radius: 1.5rem;
    margin: auto;
    margin-top: 18rem;
    margin-bottom: 4rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 3rem;
    align-items: center;
    background-color:#f67e7d ;
     justify-content: center;
}
.Form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;

}

.Form-input{
    gap: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.Form-Buttons{

    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 3.4rem;
    justify-content: center;
    align-items: center;
   
    width: fit-content;
}

.Form-Buttons button{
    height: fit-content;
    font-size: large;
}
